.table-bordered > thead > tr > th {
    text-align: center;
}

.table-bordered tr td {
    text-align: center;
}

.body_frame {
    background-image: url('/img/background.jpg');
    height: 100vh;
    background-attachment: scroll;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.body_black_frame {
    height: 100vh;
    background-color: #29221c;
    filter: alpha(opacity:70);
    KHTMLOpacity: 0.70;
    MozOpacity: 0.70;
    opacity: 0.70;

}

.form_containter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
}

.containter_form_zise {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

.containet_middle_size {
    height: 100vh;
    vertical-align: middle;
    display: table-cell;
    width: 1200px;
}

.form_header {
    font-size: 42px;
    line-height: 1.23;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
}

.block_input {
    display: inline-block;
    height: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.press_input {
    height: 56px;
    outline: none;
    color: #000000;
    background-color: #ffffff;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    height: 60px;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 1.33;
    width: 100%;
    border: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.press_input.error {
    border: 1px solid #ff0000;
}

label.error {
    color: #ff0000;
    font-weight: normal;
}

.input_fio {
    width: 32.8888888888%;
}

.send_button {
    color: #ffffff;
    border: 0px solid;
    background-color: #ff7300;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    height: 56px;
    padding: 0 20px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 60px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-appearance: none;
    font-weight: bold;
    white-space: nowrap;
    background-image: none;
    cursor: pointer;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media all and (max-width: 600px) {
    .input_fio {
        width: 32.5%;
    }
}